In [19]:
import pymysql.cursors
#拼sql

#dir 文件路径；
#table_name；表名
def create_table_to_mysql(dir, table_name):
    #拼sql
    file = open(dir)
    sql = 'create table `' + table_name +'`(\n'
    

    for line in file.readlines():
        temp = line.strip().split('\t')
        #print(temp)
        if temp[1] == 'string':
            sql += '`' + temp[0].strip() + '`' + ' varchar(100),\n'
        elif temp[1] == 'double':
            sql += '`' + temp[0].strip() + '`' + ' decimal(20,2),\n'
    file.close()    
    sql2 = sql[0:-2] + ')'  
    print(sql2)
    #连数据库
    
    connection = pymysql.connect(host='10.38.64.57', port = 3306, user = 'root', passwd='2wsx1qaz',db='fico',charset='utf8mb4',cursorclass=pymysql.cursors.DictCursor)
    #建表
    try:
        cursor = connection.cursor()
        cursor.execute(sql2)
        #result = cursor.fetcheall()
    except Exception:
        print('查询失败')
    finally:
        cursor.close()
        connection.close()



    #连数据库


    #建表

create table `m_bd_fico_icome_jiekuan`(
`bukrs` varchar(100),
`hkont` varchar(100),
`belnr` varchar(100),
`gjahr` varchar(100),
`monat` varchar(100),
`xblnr` varchar(100),
`blart` varchar(100),
`shkzg` varchar(100),
`pernr` varchar(100),
`wrbtr` decimal(20,2),
`sgtxt` varchar(100),
`augbl` varchar(100),
`zuonr` varchar(100))

In [21]:
dir = '../data/m_bd_gl_h.txt' 
table_name = 'm_bd_gl_h'
create_table_to_mysql(dir,table_name)

create table `m_bd_gl_h`(
`bukrs` varchar(100),
`hkont` varchar(100),
`mustr` varchar(100),
`txt50` varchar(100),
`ktoks` varchar(100),
`zuonr` varchar(100),
`gjahr` varchar(100),
`belnr` varchar(100),
`buzei` varchar(100),
`budat` varchar(100),
`bldat` varchar(100),
`waers` varchar(100),
`xblnr` varchar(100),
`blart` varchar(100),
`monat` varchar(100),
`bschl` varchar(100),
`shkzg` varchar(100),
`gsber` varchar(100),
`mwskz` varchar(100),
`dmbtr` decimal(20,2),
`wrbtr` decimal(20,2),
`sgtxt` varchar(100),
`sgtxt_xa` varchar(100),
`valut` varchar(100),
`projk` varchar(100),
`prctr` varchar(100),
`pswbt` decimal(20,2),
`xnegp` varchar(100),
`fkber` varchar(100),
`fipos` varchar(100),
`fistl` varchar(100),
`geber` varchar(100),
`pprct` varchar(100),
`buzid` varchar(100),
`cpudt` varchar(100),
`cputm` varchar(100),
`usnam` varchar(100),
`tcode` varchar(100),
`xblnr1` varchar(100),
`bktxt` varchar(100),
`xref1_hd` varchar(100),
`xref2_hd` varchar(100),
`awkey` varchar(100),
`meins` varchar(100),
`menge` varchar(100),
`kostl` varchar(100),
`func_area` varchar(100),
`kosar` varchar(100),
`comp_code` varchar(100),
`comp_code_txt` varchar(100),
`xa_mreg` varchar(100),
`xa_mreg_txt` varchar(100),
`cpmo_cop` varchar(100),
`cpmo_cop_txt` varchar(100),
`xa_reig` varchar(100),
`xa_reig_txt` varchar(100),
`xa_dept` varchar(100),
`xa_dept_txt` varchar(100),
`xa_grop` varchar(100),
`xa_grop_txt` varchar(100))