In [30]:
import pymysql.cursors
#拼sql

#dir 文件路径；
#table_name；表名
def create_table_to_mysql(dir, table_name):
    #拼sql
    file = open(dir)
    sql = 'create table `' + table_name +'`(\n'
    

    for line in file.readlines():
        temp = line.strip().split('\t')
        #print(temp)
        if temp[1] == 'string':
            sql += '`' + temp[0].strip() + '`' + ' varchar(100),\n'
        elif temp[1] == 'double':
            sql += '`' + temp[0].strip() + '`' + ' decimal(20,2),\n'
    file.close()    
    sql2 = sql[0:-2] + ')'  
    print(sql2)
    #连数据库
    
    connection = pymysql.connect(host='10.38.64.57', port = 3306, user = 'root', passwd='2wsx1qaz',db='fico',charset='utf8mb4',cursorclass=pymysql.cursors.DictCursor)
    #建表
    try:
        cursor = connection.cursor()
        cursor.execute(sql2)
        #result = cursor.fetcheall()
    except Exception:
        print('查询失败')
    finally:
        cursor.close()
        connection.close()



    #连数据库


    #建表

In [34]:
dir = '../data/fico_icome_yue_sum_h.txt' 
table_name = 'fico_icome_yue_sum_h'
create_table_to_mysql(dir,table_name)

create table `fico_icome_yue_sum_h`(
`comp_code` varchar(100),
`comp_code_txt` varchar(100),
`cpmo_cop` varchar(100),
`cpmo_cop_txt` varchar(100),
`xa_reig` varchar(100),
`xa_reig_txt` varchar(100),
`pernr` varchar(100),
`zuonr` varchar(100),
`wrbtr` decimal(20,2),
`update_time` varchar(100))